.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
}

.filterList ul {
    list-style: none;
}
.filterList li {
    display: inline-block;
    margin-right: 15px;
}
.filterList input {
    visibility:hidden;
}
.filterList label {
    cursor: pointer;
}
input:checked + span {
    background: rgb(103, 111, 214);
}